<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>That Was ...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">That was ...</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% from "_formhelpers.html" import render_field %}
        <form method=post action="/">
        <legend>Enter a new Event</legend>
        {{ render_field(form.tag, 'tag_name') }}
        {{ render_field(form.author, 'foo@example.com') }}
        {{ render_field(form.start_datetime) }}
        {{ render_field(form.end_datetime) }}
        {{ render_field(form.description) }}
        <div class="controls">
            <button type="submit" class="btn">Submit</button>
        </div>
        </form>

        <table class="table table-bordered table-hover">
           <thead>
           <tr>
             <th></th>
             <th>Tag</th>
             <th>From</th>
             <th>To</th>
             <th>Description</th>
           </tr>
           </thead>
           <tbody>
            {% for event in events %}
            <tr>
            <td>{%if event.processed%}yes{%else%}no{%endif%}</td>
            <td>{{event.tag}}</td>
            <td>{{event.start}}</td>
            <td>{{event.end}}</td>
            <td>{{event.description}}</td>
            </tr>
            {%endfor%}
           <tbody>
        </table>

    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.js"></script>
  </body>
</html>

